@charset "UTF-8";

body{
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
h1{
   color: rgb(233, 139, 17); 
}
h2{
    color: rgb(161, 124, 74);
}
p{
    text-align: justify;
}
p a {
    text-decoration: none;
}