@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 500px;
    border-collapse: collapse;
    position: relative;
}

caption {
    padding: 15px;

    background-color: rgb(148, 147, 147);
    color: white;
    font-size: 1.1em;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

tfoot, thead {
    background-color: rgb(83, 83, 83);
    color: white;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: rgb(83, 83, 83);
}

tbody > tr:nth-child(even) {
    background-color: rgb(194, 194, 194);
}

.numero {
    text-align: right;
}